doctype html
html(lang='en')
  head
    title Welcome to QOTW!
  body
    div
      p 
        | You're automatically subscribed to the QOTW mailing list. To unsubscribe, visit your 
        a(href=`${baseUrl}/Profile`) profile page
        |.