doctype html
html(lang='en')
  head
    title QOTW: #{title}
    style.
      pre.template {font: initial;}
      footer { margin: 35px 0 15px 0; text-align: center; }
  body
    div
      pre.template #{content}
  footer
    p
      | You're receiving this email because you're subscribed to the QOTW mailing list. To unsubscribe, visit your 
      a(href=`${baseUrl}/Profile`) profile page
      |.